<section class="txt-blacks">
  <footer class="bg-whites">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 txt-blacks">
          <p class="font-lights">
            Immerse yourself in the rich culture and tantalizing aromas as you explore our curated selection of premium spices, 
            sourced directly from the heart of Indonesia. Elevate your culinary experience with the finest herbs, peppers, and 
            seasonings that promise to transform your dishes into extraordinary creations.
          </p>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 font-lights txt-blacks">
          <h6 class="text-uppercase">About</h6>

          <ul class="list-unstyled mb-0 txt-blacks">
            <li>
              <a href="#!" class="text-body">About us</a>
            </li>
            <li>
              <a href="#!" class="text-body">Privacy & policy</a>
            </li>
            <li>
              <a href="#!" class="text-body">Lavoria group</a>
            </li>
            <li>
              <a href="#!" class="text-body">Term of use</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 font-lights">
          <h6 class="text-uppercase mb-0">Contact & Support</h6>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-body">Via email</a>
            </li>
            <li>
              <a href="#!" class="text-body">Via whatsapp</a>
            </li>
            <li>
              <a href="#!" class="text-body">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3">
      © <%= Time.now.year %> Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">Lavoria group</a>
    </div>
  </footer>
</section>