<section class="vh-100 ">
 <div class="container py-5 h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
    <%
=begin%>
 <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1> 
<%
=end%>
    <div class="inline-block align-middle">
    	<h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
    </div>
</div>
</div>
</section>